
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    position: relative;
}

.logo {
    cursor: pointer;
    z-index: 2;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    transition: all 0.3s ease;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: bisque;
}

.cta-button {
    padding: 9px 20px;
    background-color: bisque;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta-button:hover {
    background-color: rgba(255, 228, 196, 0.8);
}

.hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 3;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transition: all 0.3s ease;
}


@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links {
        position: fixed;
        top: 70px;
        left: -100%;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 1rem 0;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        padding: 1rem 0;
    }

    .cta-button {
        margin: 1rem auto;
        display: block;
        width: max-content;
    }

    .logo {
        margin-left: 0;
    }
}